<div>
  <h1 class="page-header">电子档案管理</h1>
<div class="col-sm-10">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;电子档案文件分类按电脑目录结构进行分类管理，第1级文件夹为第1级分类，第2级文件夹为第2级分类，依次类推第N级文件夹为第N级分类，每个文件夹都代表1个分类，每个文件夹下可以有文件和子文件夹。</p>
  <p>工作流程如下。</p>
</div>
  

  <div class="col-sm-10"><h3>1. 电子文件存放的根目录</h3></div>

  <div class="col-sm-10 ">
    <p><strong>*</strong>当前根目录为:<strong>{{rootPath}}</strong></p>
    <p>(1)电子文件存放的根目录是由系统管理员配置的。</p>
    <p>(2)如果要修改该目录的位置，需要先停止本系统的运行，重启系统才生效。</p>   
    
  </div>

  <div class="col-sm-10"><h3>2.文件分类的建立/修改/删除方法</h3></div>
   <div class="col-sm-10">
    <p>(1)打开“<strong>{{rootPath}}</strong>”根目录</p>
    <p>(2)新建文件分类：在<strong>{{rootPath}}</strong>目录下，新建1个文件夹，文件夹名为分类名。</p>
    <p>如：“市政府文件”对应<strong>“{{rootPath}}</strong>\市政府文件\”</p> 
    <p>如：“市政府文件”下级分类“2009文件”对应<strong>“{{rootPath}}</strong>\市政府文件\2009文件\”</p> 

    <p>如：“省厅文件”对应<strong>“{{rootPath}}</strong>\省厅文件\”</p>        
    <p>如：“省厅文件”下级分类“2009文件”对应<strong>“{{rootPath}}</strong>\省厅文件\2009文件”</p> 
<br>
    <p>(3)修改文件分类：在<strong>{{rootPath}}</strong>目录下，修改对应分类的文件夹的名称为新的分类名称。</p>
<br>
    <p>(4)删除文件分类：在<strong>{{rootPath}}</strong>目录下，删除对应文件分类名称的文件夹就可以了（<strong>注:如果文件夹下的文件还要请先将文件移动到其它分类。</strong>）。</p>

    <p>(5)文件分类的建立/修改/删除/移动等操作，都与平常文件夹的新建/修改/移动/删除完全一样。所有的操作都是实时生效的。</p>
    
  </div>

  <div class="col-sm-10"><h3>3. 电子文件的建立/修改/删除/移动方法</h3></div>

  <div class="col-sm-10">
   
    <p>(1)电子文件名命令规范：文件号_文件标题_关键字</p>
    <p>(2)电子文件类型：PDF</p>
    <p>(3)新建电子文件：将电子文件保存到<strong>{{rootPath}}</strong>目录下的对应分类名称的文件夹下。
    <p>(4)修改电子文件：在<strong>{{rootPath}}</strong>目录下的对应分类名称的文件夹下找到对应的文件把修改好的文件直接替换。
    <p>(5)删除电子文件：在<strong>{{rootPath}}</strong>目录下的对应分类名称的文件夹下找到对应的文件直接删除。
    <p>(6)移动电子文件：把文件直接移动到对应分类的文件夹里。
    <p>(7)电子文件的建立/修改/删除/移动等操作，都与平常文件的新建/修改/移动/删除完全一样。所有的操作都是实时生效的。</p>

  </div>

  <div class="col-sm-10"><h3>4. 搜索或在线浏览文件内容</h3></div>
  <div class="col-sm-10">
    <p>可以搜索或按内容分类浏览方式检索系统中的存放的文件，并在线查看具体内容</p>
    <p>具体操作方法为：</p>
    <button type="button" ng-click="gotoPageHash('/search/queryFile')">‘检索’ -> ‘文件查询’</button>

  </div>

</div>
