<div>
  <h1 class="page-header">创建项目</h1>
  <form class="form-horizontal" name="project" role="form" ng-submit="createProject()">
    <div class="col-sm-10">
      <div class="panel panel-info">
        <div class="panel-heading"><strong>项目基本信息</strong></div>
        <div class="panel-body">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">项目名称</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="name" ng-model="name" id="name" placeholder="输入项目名称" required>
            </div>
          </div>
          <div class="form-group">
            <label for="id" class="col-sm-2 control-label">项目编号</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="id" ng-model="id" id="id" placeholder="输入项目编号">
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">项目概要</label>
            <div class="col-sm-9">
              <textarea class="form-control" name="description" ng-model="description" rows="5" cols="100" id="description" placeholder="输入项目的概要信息"></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-10">
      <div class="panel panel-info">
        <div class="panel-heading"><strong>项目隶属关系</strong></div>
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-sm-7">
              <label for="parentProject" class="col-sm-4 control-label">父项目名称</label>
              <div class="col-sm-8">
                <select class="form-control" ng-model="parentProject" name="parentProject" id="parentProject">
                  <option value="all">不限</option>
                  <option ng-repeat="p in projects | filter: projectFilterKey">{{p.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" ng-model="parentFilterKey" placeholder="项目过滤关键词">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-7">
              <label class="col-sm-4 control-label">子项目名称</label>
              <div class="col-sm-8">
                <button type="button" class="btn btn-default btn-block">选择子项目</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <button type="button" ng-disabled="!project.name.$valid" class="btn btn-primary btn-block">创&nbsp;&nbsp;建</button>
      </div>
    </div>

  </form>

  <div class="col-md-8 col-md-offset-2" ng-show="message">
    <div ng-class="msgClass" class="alert" role="alert">
      <strong >{{message}}</strong>
    </div>
  </div>
</div>