<div>
  <h1 class="page-header">财务凭证数据导入</h1>
  <form class="form-horizontal" name="importFigure" role="form" ng-submit="serverModeImport()">
    <div class="form-group">
      <label for="style" class="col-sm-2 control-label">导入模式</label>
      <div class="col-sm-5">
        <select class="form-control" disabled name="style" ng-model="style" id="style">
          <option value="server">服务器端本地模式</option>
          <option value="serverBatch">服务器端本地批量模式</option>
          <option value="client">客户端远程模式</option>
          <option value="clientBatch">客户端远程批量模式</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">数据文件</label>
      <!--
      <div class="col-sm-5">
        <input type="text" class="form-control" name="path" ng-model="path" id="path" placeholder="输入文件路径" required>
      </div>
      -->
      <!-- 用于打开模式对话框 -->
      <div class="col-sm-5">
        <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#projectList">
          {{buttonName()}}
          <span class="caret"></span>
        </button>
      </div>

      <!-- 选择子项目模式对话框 -->
      <div class="modal fade" id="projectList" tabindex="-1" role="dialog" aria-labelledby="projectListLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" ng-click="cancelSelection()" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <div class="col-sm-6 col-sm-offset-2 text-center" id="projectListLabel">
                <h4><strong>文件列表</strong></h4>
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="fileFilterKey" placeholder="文件过滤关键词">
              </div>
              <div><br></div>
            </div>
            <div class="modal-body">
              <div class="col-sm-4">
                <label ng-click="openDir('..')">
                  <span class="glyphicon glyphicon-folder-open"></span>
                  <span>&nbsp;返回上级目录</span>
                  <span class="caret"></span>
                </label>
              </div>
              <div class="col-sm-4" ng-repeat="dir in fileData.dirs | filter: fileFilterKey">
                <label ng-click="openDir(dir)">
                  <span class="glyphicon glyphicon-folder-open"></span>
                  <span>&nbsp;{{dir}}</span>
                  <span class="caret"></span>
                </label>
              </div>
              <div class="col-sm-4" ng-repeat="file in fileData.files | filter: fileFilterKey">
                <label><input type="radio" ng-model="$parent.selectedFile" ng-value="file">&nbsp;{{file}}</label>
              </div>&nbsp;
            </div>
            <div class="modal-footer">
              <div class="col-sm-2 col-sm-offset-8">
                <button type="button" class="btn btn-success btn-block" data-dismiss="modal" ng-click="selectFile()">确&nbsp;定</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" ng-click="cancelSelection()">取&nbsp;消</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 子项目模式对话框结束 -->

    </div>
    <div class="form-group">
      <label for="projectName" class="col-sm-2 control-label">所属项目</label>
      <div class="col-sm-5">
        <select class="form-control" name="projectName" ng-disabled="batchMode()" ng-model="projectName" id="projectName">
          <option ng-selected="$first" ng-repeat="project in projects | filter: keys">{{project.name}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="keys" ng-model="keys" id="keys" placeholder="项目过滤关键词">
      </div>
    </div>
    <div class="form-group">
      <label for="year" class="col-sm-2 control-label">所属年度</label>
      <div class="col-sm-5">
        <select class="form-control" name="year" ng-model="year" id="year">
          <option ng-repeat="year in years">{{year}}</option>
        </select>
      </div>
      <div class="checkbox col-sm-3" ng-show="">
        <label><input type="checkbox">不限年份</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <button type="submit" ng-disabled="!selectedFile" class="btn btn-primary btn-block">导 入</button>
      </div>
    </div>
  </form>

  <div class="col-md-8 col-md-offset-2" ng-show="message">
    <div ng-class="msgClass" class="alert" role="alert">
      <strong >{{message}}<br><span ng-show="msgClass == 'alert-danger'">{{errLines}}</span></strong>
    </div>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>序号</th>
    <th>所属项目</th>
    <th>所属年度</th>
    <th>文件路径</th>
    <th>文件名</th>
    <th>操作描述</th>
    <th>操作结果</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in importedList">
    <td>{{$index}}</td>
    <td>{{row.projectName}}</td>
    <td>{{row.year}}</td>
    <td>{{row.path}}</td>
    <td>{{row.filename}}</td>
    <td>{{row.comment}}</td>
    <td>{{row.result}}</td>
  </tr>
  </tbody>
</table>