<div>
  <h1 class="page-header">项目查看</h1>

  <h3>查询条件：</h3>
  <form class="form-horizontal" role="form" ng-submit="queryProject()">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">项目名称</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="name" ng-model="name" id="name" placeholder="输入项目名称">
      </div>
    </div>
    <div class="form-group">
      <label for="id" class="col-sm-2 control-label">项目编号</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="id" ng-model="id" id="id" placeholder="输入项目编号">
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">项目概要</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="description" ng-model="description" id="description" placeholder="输入项目概要">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-primary">&nbsp;&nbsp;查 询&nbsp;&nbsp;</button>
      </div>
    </div>
  </form>

  <div class="col-md-8 col-md-offset-2" ng-show="message">
    <div ng-class="msgClass" class="alert" role="alert">
      <strong >{{message}}</strong>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>序号</th>
      <th>名称</th>
      <th>编号</th>
      <th>摘要</th>
      <th>详情</th>
      <th>编辑</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in projects">
      <td>{{$index + 1}}</td>
      <td>
        <span ng-hide="$index == line">{{project.name}}</span>
        <input ng-show="$index == line" type="text" ng-model="projects[$index].name">
      </td>
      <td>
        <span ng-hide="$index == line">{{project.id}}</span>
        <input ng-show="$index == line" type="text" ng-model="projects[$index].id">
      </td>
      <td>
        <span ng-hide="$index == line">{{project.description}}</span>
        <textarea ng-show="$index == line" ng-model="projects[$index].description"></textarea>
      </td>
      <td><button class="btn btn-xs btn-default">&nbsp;详 情&nbsp;</button></td>
      <td>
        <span ng-click="modify($event)" class="glyphicon glyphicon-pencil"></span>
        <span ng-click="confirm($event)" class="glyphicon glyphicon-ok"></span>
        <span ng-click="remove($event)" class="glyphicon glyphicon-remove"></span>
      </td>
    </tr>
    </tbody>
  </table>

</div>