<div>
  <h1 class="page-header">项目详情</h1>
  <form class="form-horizontal" name="project" role="form">

    <div class="form-group col-sm-6">
      <label for="projectName" class="col-sm-4 control-label">选择项目</label>
      <div class="col-sm-8">
        <select class="form-control" ng-model="projectName" name="projectName" id="projectName">
          <option ng-repeat="project in projects">{{project.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="filterKey" ng-model="filterKey" id="filterKey" placeholder="项目过滤关键词">
    </div>

    <div class="col-sm-12"></div>

    <div>
      <hr>
    </div>
    <div class="form-group">
      <label for="id" class="col-sm-2 control-label">项目编号</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control" name="id" ng-value="id" id="id">
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">项目概要</label>
      <div class="col-sm-8">
        <textarea class="form-control" readonly name="description"  rows="5" cols="100" id="description">{{description}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="parent" class="col-sm-2 control-label">隶属父项目</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control" name="parent" ng-value="parent" id="parent">
      </div>
      <div class="col-sm-2">
        <button class="btn btn-default btn-block">修改父项目</button>
      </div>
    </div>
    <div class="form-group">
      <label for="children" class="col-sm-2 control-label">包含子项目</label>
      <div class="col-sm-5">
        <textarea class="form-control" readonly name="children"  rows="5" cols="100" id="children">{{children}}</textarea>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-default btn-block">修改子项目</button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">项目合同</label>
      <div class="col-sm-9">
        <div class="panel panel-default">
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>序号</th>
              <th>合同名称</th>
              <th>原件存放位置</th>
              <th>编辑</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="contract in currentProject().contract">
              <td>{{$index}}</td>
              <td>{{contract.name}}</td>
              <td>{{contract.store}}</td>
              <td>
                <span ng-click="modify($event)" class="glyphicon glyphicon-pencil"></span>
                <span ng-click="confirm($event)" class="glyphicon glyphicon-ok"></span>
                <span ng-click="remove($event)" class="glyphicon glyphicon-remove"></span>
              </td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;--</td>
              <td></td>
              <td></td>
              <td>
                <span ng-click="modify($event)" class="glyphicon glyphicon-pencil"></span>
                <span ng-click="confirm($event)" class="glyphicon glyphicon-ok"></span>
                <span ng-click="remove($event)" class="glyphicon glyphicon-remove"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">项目文件</label>
      <div class="col-sm-9">
        <div class="panel panel-default">
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>序号</th>
              <th>文件名称</th>
              <th>原件存放位置</th>
              <th>编辑</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="file in currentProject().file">
              <td>{{$index}}</td>
              <td>{{file.name}}</td>
              <td>{{file.store}}</td>
              <td>
                <span ng-click="modify($event)" class="glyphicon glyphicon-pencil"></span>
                <span ng-click="confirm($event)" class="glyphicon glyphicon-ok"></span>
                <span ng-click="remove($event)" class="glyphicon glyphicon-remove"></span>
              </td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;--</td>
              <td></td>
              <td></td>
              <td>
                <span ng-click="modify($event)" class="glyphicon glyphicon-pencil"></span>
                <span ng-click="confirm($event)" class="glyphicon glyphicon-ok"></span>
                <span ng-click="remove($event)" class="glyphicon glyphicon-remove"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>

  <div class="col-md-8 col-md-offset-2" ng-show="message">
    <div ng-class="msgClass" class="alert" role="alert">
      <strong >{{message}}</strong>
    </div>
  </div>
</div>