<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>财务档案系统</h1>
    <p>实现数据的跨项目、跨账套、跨年度查询检索；
      没有局限的多角度统计报表与汇总；
      财务凭证、合同、文档与财务统计数据的联动引用；
      通过多级别权限控制，完备的日志记录，保障系统的安全。</p>
    <p><a class="btn btn-primary btn-lg" role="button">了解更多 &raquo;</a></p>
  </div>
</div>

<div>
  <!-- Example row of columns -->
  <div class="col-sm-12">
    <div class="col-sm-4">
      <h2>档案管理</h2>
      <p>通过库房的管理、查询、立卷归档及电子文档的管理，以及档案的借阅与归还，完整实现档案系统的核心功能。</p>
      <p><a class="btn btn-default" href="#" role="button">了解更多 &raquo;</a></p>
    </div>
    <div class="col-sm-4">
      <h2>数据检索</h2>
      <p>从多个角度，如项目、科目、凭证、合同、普通文档等，实现对信息的分类查询，并实现不同类信息的交叉引用。</p>
      <p><a class="btn btn-default" href="#" role="button">了解更多 &raquo;</a></p>
    </div>
    <div class="col-sm-4">
      <h2>汇总报表</h2>
      <p>扩展财务系统的汇总报表功能，可以不受项目、账套和时间长短的限制，从不同角度针对不同目的进行汇总报表。</p>
      <p><a class="btn btn-default" href="#" role="button">了解更多 &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer class="col-sm-12">
    <br>
    <p>&copy; 版权所有 2014</p>
  </footer>
</div> <!-- /container -->