textarea {
    resize: none;
}

span.glyphicon {
    cursor: pointer;
}

span.glyphicon-pencil {
    color: blue;
}

span.glyphicon-ok {
    color: green;
}

span.glyphicon-remove {
    color: red;
}

tr textarea, tr input[type=text] {
    width: 100%;
}

table .pis .grade {
    width: 15%;
}


table .pis .init {
    width: 20%;
}

table .pis .end {
    width: 20%;
}