<div>
  <h1 class="page-header">文件查询</h1>
  <form class="form-horizontal" name="project" role="form">

    <div class="form-group col-sm-12">
      <label for="directory" class="col-sm-3 control-label">选择类目</label>
      <div class="col-sm-8">
        <select class="form-control" ng-model="directory" name="directory" id="directory">
          <option value="..">返回上级</option>
          <option value=".">当前类目</option>
          <option ng-repeat="d in subDir.list track by $index">{{d}}</option>
        </select>
      </div>
    </div>

    <div class="form-group col-sm-12">
      <label class="col-sm-3 control-label">当前类目</label>
      <div class="col-sm-9">
        <label class="control-label"><button>／文档总目录</button></label>
        <label class="control-label" ng-repeat="d in path track by $index">
          <button>／{{d}}</button>&nbsp;
        </label>
      </div>
    </div>

    <div class="col-sm-12">&nbsp;<br></div>

    <div class="form-group col-sm-12">
      <label for="fileName" class="col-sm-3 control-label">文件名称</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="fileName" ng-model="fileName" id="fileName" placeholder="待查询文件名称">
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-offset-4 col-sm-4">
        <button type="button" ng-click="queryFileName('file', files)" class="btn btn-primary btn-block">查 询</button>
      </div>
    </div>
  </form>

  <div class="col-sm-12"><br></div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <table class="table">
        <thead>
        <tr class="active pis">
          <th>序号</th>
          <th>文件名称</th>
          <th>所属类目</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in files.list | filter: globalFilterKey">
          <td>{{$index + 1}}</td>
          <td><a href="" ng-click="display(file)">{{file[file.length-1]}}</a></td>
          <td>／{{file.slice(0, -1).join('／')}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-2" ng-show="showMsg">
    <div ng-class="msgClass" class="alert" role="alert">
      <strong >{{message}}</strong>
    </div>
  </div>
</div>
